name: Test and Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:

    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start Docker services
        run: docker compose up -d

      - name: Install dependencies
        run: docker compose exec -T --user root app composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Check code style with Pint
        run: docker compose exec -T --user root app composer lint:check

      - name: Run static analysis with Larastan
        run: docker compose exec -T --user root app composer analyse

      - name: Run Pest tests
        run: docker compose exec -T --user root app composer test

      - name: Stop Docker services
        if: always()
        run: docker compose down

  publish:
    needs: test

    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write

    steps:
      - uses: actions/checkout@v4

      - uses: retypeapp/action-build@latest

      - uses: retypeapp/action-github-pages@latest
        with:
          update-branch: true